<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLI - Token Counter</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1 class="headerTitle">CLI - Token Count</h1>
        <nav>
            <ul>
                <li><a href="/">Back Home</a></li>
                <li><a href="/new"> Create a Token</a></li>
            </ul>
        </nav>
    </header>
    <div class="container1">
        <div class="box1">
            <br />
            <h2>Token Count: </h2>
            <br />
            <p>There are presently <%= tokenCount %> tokens in the database.</p>
        </div>
    </div>
</body>
</html>