<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FSJS CLI - Tokens</title>
    //need to add in the css file
    
  </head>
  <body>
    <header>
      <h1 class="headerTitle">CLI - Token</h1>
    </header>
    <div class="container">
      <div class="box">
        <button>
          <a href="http://localhost:3000/new"> Add New Token </a>
        </button>
        <button>
          <a href="http://localhost:3000/count"> Token Counter </a>
        </button>
      </div>
    </div>
  </body>
</html>